@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  margin: 0 auto;
  padding-top: 50px;
  position: absolute;
  z-index: 0;
  color: var(--white-color);
}

.text-animation {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
  margin-bottom: 10px;
  display: flex;
}

.text-animation:nth-child(1) {
  animation-delay: 1s;
}

.text-animation:nth-child(2) {
  animation-delay: 2s;
}

.text-animation:nth-child(3) {
  animation-delay: 3s;
}

.left-container,
.right-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  font-family: Pretendard;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.92px;
  text-align: left;
}
.right {
  font-family: Pretendard;
  font-size: 96px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -1.44px;
  text-align: right;
}
