.linkPreview {
  width: 361px;
  height: 142px;
  font-family: Pretendard;
  .linkBox {
    cursor: pointer;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    color: var(--sub-font-color);
    margin-bottom: 4px;
    .linkTitle {
      display: flex;
      align-items: center;
      gap: 2px;
    }
    .levelImg {
      margin-left: 3px;
      width: 12px;
    }
    .title {
      margin-top: 2px;
      color: var(--link-font-color);
      size: 17px;
      font-size: 16px;
    }
    .desc {
      padding: 3px;
    }
  }
}
.content {
  margin: 12px 20px;
  font-size: 14px;
  display: block;
  .description {
    display: flex;
  }
}

.sorting {
  display: block;
}

.logo {
  border: var(--editorTypo-color) 1px solid;
  // box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-left: 10px;
  align-items: end;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.toggle {
  padding-top: 20px;
  display: flex;
  gap: 3px;
  justify-content: center;
}
.toggleSort {
  size: 14px;
  color: var(--toggle-background-color);
}
.checkbox {
  position: absolute;
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 19px;
  background: var(--toggle-background-switch-color);
  border-radius: 20px;
  transition: 0.2s;
  margin-right: 10px;
}
.switch_label:hover {
  background: var(--white-hover-color);
}
.onf_btn {
  position: absolute;
  top: 1.5px;
  left: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background: var(--white-color);
  transition: 0.2s;
}

.checkbox:checked + .switch_label {
  background: var(--point-color);
}

.checkbox:checked + .switch_label:hover {
  background: var(--point-hover-color);
}

/* move */
.checkbox:checked + .switch_label .onf_btn {
  left: 22px;
  background: var(--white-color);
  box-shadow: 1px 2px 3px var(--foreground-rgb);
}

.unknown {
  width: 361px;
  background-color: var(--user-help-undo-color);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}

.loading {
  width: 361px;
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
}
