.form {
  display: flex;
  flex-direction: column;
  width: 198px;
  height: 188px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px var(--box-shadow-color);
}
.number {
  padding-top: 14%;
  margin-left: 10%;
  font-size: 20px;
}
.sort {
  font-size: 20px;
  margin-left: 10%;
}
.moveImage {
  margin-left: auto;
  margin-right: 10%;
}