.form {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px var(--box-shadow-color);
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--editorTypo-color);
  }
}
.number {
  font-family: Pretendard;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 3px;
  margin-left: 10%;
  font-size: 18px;
}

.sort {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10%;
}

.moveImage {
  margin-left: auto;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom: 10%;
}
