@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color: #5471a5;
  --main-hover-color: #2c4572;
  --sub-color: #69c7e0;
  --sub-hover-color: #1e8daa;
  --point-color: #bc56c1;
  --point-color: #903e93;
  --important-color: #ff0000;
  --important-hover-color: #c90000;
  --white-color: #ffffff;
  --white-hover-color: #a2a2a2;
  --connect-color: #45ff26;
  --unconnected-color: #d1d1d1;
  --editorBlack-color: #282a36;
  --editorSub-color: #343746;
  --editorTypo-color: #e2e1e1;
  --main-font-color: #090909;
  --sub-font-color: #999999;
  --link-font-color: #0395ff;
  --pretendard: 'pretendard';
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.basic-font {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.main-title-font {
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}
