@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color: #5471a5;
  --main-hover-color: #2c4572;
  --sub-color: #69c7e0;
  --sub-hover-color: #1e8daa;
  --point-color: #bc56c1;
  --point-color: #903e93;
  --important-color: #ff0000;
  --important-hover-color: #c90000;
  --white-color: #ffffff;
  --white-hover-color: #a2a2a2;
  --connect-color: #45ff26;
  --unconnected-color: #d1d1d1;
  --editorBlack-color: #282a36;
  --editorSub-color: #343746;
  --editorTypo-color: #e2e1e1;
  --main-font: #090909;
  --sub-font: #999999;
  --link-font: #0395ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
