.allContainer {
  display: flex;
}

.all {
  font-family: Pretendard;
  margin: 60px 0px 0px 0px;
  justify-content: center;
  gap: 200px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.form {
  width: fit-content;
  row-gap: 22px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.linkForm {
  margin-top: 50px;
}
.buttonCon {
  display: flex;
  float: right;
  margin-top: 320px;
}
.helpSubmitButton {
  border-radius: 10px;
  width: 150px;
  height: 50px;
  background-color: var(--sub-color);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  transition:
    background-color 0.3s,
    opacity 0.3s;

  opacity: 0.5;
  pointer-events: none;

  &:hover {
    background-color: var(--sub-hover-color);
  }
}

.helpSubmitButton:enabled {
  opacity: 1;
  pointer-events: auto;
}
