.helpform {
  margin-bottom: 22px;
  height: 70px;
  width: 460px;
}
a.star {
  color: var(--important-color);
}

p.formSort {
  font-size: 16px;
  width: 460px;
  height: 24px;
  line-height: 144%;
  font-weight: 400;
  color: var(--textInput-sort-color);
  margin-bottom: 2px;
}

input.formContents {
  background-color: var(--textInput-background-color);
  font-size: 16px;
  border-radius: 4px;
  padding: 12px;
  gap: 10px;
  width: 460px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
input.formContents::placeholder {
  color: var(--textInput-placeholder-color);
}

#content {
  text-align: left; /* 우측 정렬 */
  vertical-align: top; /* 상단 정렬 */
  position: relative;
  height: 309px;
}
