.all {
  margin-top: 67px;
  //   align-items: center;
  justify-content: space-around;
  display: flex;
  .form {
    // background-color: greenyellow;
    width: fit-content;
    row-gap: 22px;
    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 24px;
    }
  }
}
.linkForm {
  margin-top: 10%;
  //   background-color: aqua;
}
.buttonCon {
  display: flex;
  float: right;
}
.helpSubmitButton {
  border-radius: 10px;
  margin-top: 12px;
  width: 167px;
  height: 54px;
  color: white;
  font-size: 16px;
  background-color: rgb(105, 199, 224);
}
