/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/styles/reset.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/components/Common/Header/Header.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
nav {
  background-color: var(--main-color);
  height: 48px;
}
nav ul {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}
nav li {
  transition: background-color 0.3s;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 9px 5px;
}
nav li:hover {
  background-color: var(--main-hover-color);
}
nav .home {
  width: 70px;
  color: var(--white-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--pretendard);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick-theme.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(/_next/static/media/slick.25572f22.eot);
    src: url(/_next/static/media/slick.25572f22.eot?#iefix) format('embedded-opentype'), url(/_next/static/media/slick.653a4cbb.woff) format('woff'), url(/_next/static/media/slick.6aa1ee46.ttf) format('truetype'), url(/_next/static/media/slick.a5e9c8d5.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Common/User/UserModal/UserModal.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.UserModal_modal__Qh81U {
  width: 316px;
  height: 480px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: var(--background-end-rgb);
}

.UserModal_closeButton__gO63Z {
  margin: auto 22px 22px auto;
}

.UserModal_ImgContainer__iKac9 {
  width: 167px;
  height: 167px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.UserModal_profileImg__bwNnY {
  border-radius: 50%;
  position: relative;
  border: 1px var(--foreground-rgb) ridge;
}

.UserModal_active__97l4X {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  position: absolute;
  margin: 123px;
}

#UserModal_connected__NB9xF {
  background-color: var(--connect-color);
}

#UserModal_unconnected__9UNCf {
  background-color: var(--unconnected-color);
}

.UserModal_nickname__0ZzLN {
  font-size: 24px;
  font-weight: 700;
}

.UserModal_levelContainer__wowGi {
  width: 152px;
  height: 45px;
  display: flex;
  align-items: center;
}

.UserModal_____Z_Ye4 {
  font-size: 16px;
  color: var(--modal-level-word-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--level-color-red);
}

.UserModal_____uJLSs {
  font-size: 16px;
  color: var(--modal-level-word-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--level-color-orange);
}

.UserModal______iYar {
  font-size: 16px;
  color: var(--modal-level-word-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--level-color-yellow);
}

.UserModal_____REDtd {
  font-size: 16px;
  color: var(--modal-level-word-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--level-color-green);
}

.UserModal_____2eXvT {
  font-size: 16px;
  color: var(--modal-level-word-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--level-color-skyblue);
}

.UserModal_____12tOh {
  font-size: 16px;
  color: var(--modal-level-word-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--level-color-darkblue);
}

.UserModal_____Y9upa {
  font-size: 16px;
  color: var(--modal-level-word-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--level-color-purple);
}

.UserModal_help__5DEIX {
  display: flex;
  width: 298px;
  justify-content: space-between;
}

.UserModal_aboutHelp__cQ38E {
  width: 146px;
  height: 43px;
  display: flex;
  padding: 9px;
  gap: 2px;
  box-shadow: 0px 2px 4px 0px var(--modal-help-box-shadow);
  border: 1px solid var(--modal-help-border);
  border-radius: 5px;
}

.UserModal_sortHelp__oKwaU {
  font-size: 8px;
}

#UserModal_sortHelpDo__jy_zO {
  color: var(--main-color);
}

#UserModal_sortHelpGet__FeEy5 {
  color: var(--important-color);
}

.UserModal_sortHelpNum__OSBp0 {
  font-size: 12px;
}

.UserModal_Buttons__Lp6wb {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 5px;
}

.UserModal_userButton___ChsF {
  border-radius: 10px;
  width: 298px;
  height: 35px;
  display: flex;
  background-color: var(--main-color);
}
.UserModal_userButton___ChsF p {
  color: var(--white-color);
  font-size: 15px;
  width: 60px;
  height: 19px;
  margin: auto 30%;
}

#UserModal_buttonHelp__iAT8d {
  background-color: var(--important-color);
}

.UserModal_buttonImg__1D8zQ {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 6px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Home/Waiting/UserImage/UserImage.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.UserImage_userContainer___FMX4 {
  width: 70px;
  height: 70px;
  display: flex;
  position: relative;
  z-index: 1;
}

.UserImage_profileImg__uVGo5 {
  border-radius: 50%;
  position: relative;
  margin-right: 6%;
}

.UserImage_connected__iG6b6 {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  right: 3px;
  background-color: var(--connect-color);
}

.UserImage_unconnected__f3A5k {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  right: 3px;
  background-color: var(--unconnected-color);
}

.UserImage_right__q01sS {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 38px;
  z-index: 3;
}

.UserImage_left__60naG {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  right: 172px;
  z-index: 3;
}

.UserImage_shadow__Z5bOf {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.58);
}
